@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$background-color: #272D2D;
$background-color-2: #3a4242;

$font-color: #B8C5D6;
$font-color-2: #edf5fc;
$accent-color: #A39BA8;
$highlight: #23ce6b;